html {
  background-image: no-repeat center fixed;
  -webkit-background-size: cover; }

body {
  background-image: url(../pics/startup-593341.jpg);
  background-size: cover; }

header {
  background: rgba(0, 0, 0, 0.7); }
  header h1 {
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    font-family: Open Sans Condensed;
    font-weight: lighter;
    letter-spacing: 0.2em; }
  header a {
    color: white;
    font-size: 13px; }
  header a:hover {
    color: #FF5722; }
  header a:active {
    color: #FF5722;
    text-decoration: underline; }

.blockcentral aside {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  line-height: 22px;
  text-align: center;
  color: white;
  font-family: Open Sans Condensed;
  font-size: 20px;
  letter-spacing: 0.5em;
  font-weight: lighter; }

#date {
  color: #FF5722; }

#prochainmeetup {
  font-family: Open Sans Condensed;
  font-size: 25px; }

#inscription {
  text-align: center;
  color: white;
  font-family: Open Sans Condensed;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1.2em; }

#clic {
  border: 1px white double;
  border-radius: 3%; }

#start {
  color: #FF5722; }

#infos li {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: Open Sans Condensed; }

#pitchezamour {
  font-size: 27px;
  color: #FF5722;
  font-style: oblique; }

#projets {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: Open Sans Condensed;
  font-weight: lighter; }

.casesprojets li {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  line-height: 28px;
  text-align: center;
  color: #FF5722;
  font-family: Open Sans Condensed;
  font-size: 30px;
  letter-spacing: 0.4em;
  font-weight: lighter; }
  .casesprojets li p {
    color: white;
    font-family: Open Sans Condensed;
    font-size: 20px;
    letter-spacing: 0.3em;
    font-weight: lighter; }

#xpairs {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: Open Sans Condensed;
  font-size: 32px;
  font-weight: lighter; }

.sessions li {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: Open Sans Condensed;
  border-radius: 5px;
  font-size: 20px; }

.field p {
  color: white; }

footer {
  background-color: grey;
  color: white;
  font-family: Open Sans Condensed;
  text-align: center;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.7); }
  footer a {
    color: white; }

ul {
  padding: 0px;
  padding-top: 0.1em; }
  ul li {
    list-style-type: none; }

/*******formulaire********/
form {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px; }

div label {
  color: white; }

/******Lieux******/
.lieublock {
  font-family: Open Sans Condensed;
  font-size: 2em; }
  .lieublock div {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    color: white; }
    .lieublock div li {
      background: rgba(0, 0, 0, 0.7);
      border-radius: 3px; }
    .lieublock div a {
      color: #FF5722; }

/******Meetup******/
.containermeetup {
  color: white;
  font-family: Open Sans Condensed; }
  .containermeetup ul {
    font-size: 20px; }

.section1 li {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.section2 ul {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.section3 li {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.section4 ul {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.section5 li {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.section6 {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

@media screen and (min-width: 940px) {
  /******Lieux******/
  .lieublock {
    font-family: Open Sans Condensed;
    font-size: 2em; }
    .lieublock div {
      background: rgba(0, 0, 0, 0.7);
      border-radius: 3px;
      color: white;
      display: inline-block;
      width: 49%;
      height: 100%;
      box-sizing: box-model; }
      .lieublock div li {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 3px; }
      .lieublock div a {
        color: #FF5722; } }
