$gristransparent:rgba(0,0,0,0.7);
$blanc:white;
$police:Open Sans Condensed;
$orange:#FF5722;
$aligne:inline-block;
$nonaligne:inline;
$gris:grey;

html {
	margin : 0;
	padding : 0;
	background-image : no-repeat center fixed;
	-webkit-background-size : cover;
}

body {
	background-image : url(../pics/startup-593341.jpg);
	background-size : cover;
}

.container {
	margin-left : auto;
	margin-right : auto;
}

header {
	background : $gristransparent;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;   
	height : 70px;

	h1 {
		display : $aligne;
		margin-left : 50px;
		font-size : 3em;
		color : $blanc;
		text-transform : uppercase;
		font-family : $police;
		font-weight : lighter;
		letter-spacing : 0.2em;
	}

	nav {
		float : right;
		padding : 0.6%;
	}

	a {
		color : $blanc;
		font-size : 13px;
	}

	a:hover {
		color : $orange;
	}

	a:active {
		color : $orange;
		text-decoration : underline;
	}

	li {
		display : $aligne;
	}
}

.blockcentral {
	display : $aligne;
	position : absolute;
	top : 20%;
	left : 33%;

	aside {
		height : 280px;
		width : 500px;
		background-color : $gristransparent;
		border-radius : 5px;
		line-height : 22px;
		text-align : center;
		color : $blanc;
		font-family : $police;
		font-size : 20px;
		letter-spacing : 0.5em;
		font-weight : lighter;
	}
}

#date {
	color : $orange;
}

#prochainmeetup{
	font-family : $police;
	font-size : 25px;
}

#inscription{
	text-align : center;
	color : $blanc;
	font-family : $police;;
	font-size : 30px;
	letter-spacing : 0.1em;
	padding : 10px;
	line-height : 1.2em;
	width : 500px;
	height : 500px;
}

#clic{
	border :1px $blanc double;
	border-radius : 3%;
	margin-right : 120px;
	margin-left : 120px;
	padding : 0.3px;
}

#start{
	color : $orange;
}

#infos{
	margin-left : -31%;
	margin-right : 0;

	li {
		height : 210px;
		width : 500px;
		background-color : $gristransparent;
		border-radius : 5px;
		line-height : 25px;
		display : $aligne;
		vertical-align : top;
		margin-left : 20px;
		padding : 15px;
		text-align : center;
		font-size : 20px;
		color : $blanc;
		font-family : $police;
	}
}

#pitchezamour{
	font-size : 27px;
	color : $orange;
	padding : 1px;
	font-style : oblique;
}

i{
	padding-top : -5px;
	padding-left : 10px;
}

#projets{
	background-color : $gristransparent;
	border-radius : 5px;
	text-align : center;
	color : $blanc;
	margin-top : 10%;
	width : 30%;
	height : 50px;
	font-size : 32px;
	font-family : $police;
	font-weight : lighter;
	margin-right : auto;
	margin-left : 34.5%;
}

.casesprojets li {
	height : 350px;
	width : 30%;
	background-color : $gristransparent;
	border-radius : 5px;
	line-height : 28px;
	margin-top : 5%;
	margin-right : 3.3%;
	display : $nonaligne;
	float : left;
	padding : 20px;
	text-align : center;
	color : $orange;
	font-family : $police;
	font-size : 30px;
	letter-spacing : 0.4em;
	font-weight : lighter;

	p {
		color : $blanc;
		font-family : $police;
		font-size : 20px;
		letter-spacing: 0.3em;
		font-weight: lighter;
	}
}

#xpairs{
	background-color : $gristransparent;
	border-radius : 5px;
	text-align : center;
	color : $blanc;
	font-family : $police;
	font-size : 32px;
	margin-top : 10%;
	font-weight : lighter;
	width : 25%;
	margin-right : auto;
	margin-left : 36%;
}

.sessions {
	margin-top : 5%;
	margin-left : 10%;

	li {
		height : 300px;
		width : 23%;
		float : left;
		display : $nonaligne;
		background-color : $gristransparent;
		margin : 28px;
		color : $blanc;
		font-family : $police;
		border-radius : 5px;
		font-size : 20px;
	}
}

.field p {
	color : $blanc;
}

footer{
	background-color : $gris;
	color : $blanc;
	font-family : $police;
	text-align : center;
	font-size : 20px;
	background : $gristransparent;
	width : 100%;
	position : fixed;
	bottom : 0;
	left : 0;

	a {
		color : $blanc;
	}
}

ul li {
	list-style-type : none;
	display : $nonaligne;
	padding : 30px;
}

/*******formulaire********/

form {
	background-color: $gristransparent;
    margin: 0 auto;
    width: 40%;
    height:560px;
    margin-top: 6%;
    padding: 1em;
    border-radius: 5px;
}

div label{
	color : $blanc;
}

footer p{
	display : $nonaligne;
	padding : 30px;
}

/******Lieux******/

.lieublock {
		margin-top: 100px;
		font-family: $police;
		font-size: 2em;

	li{
		background:$gristransparent;
		margin-left: 100px;
		display: $aligne;
		border-radius: 3px;
	}

	div{
		background:$gristransparent;
		margin-left: 100px;
		display: $aligne;
		width: 360px;
		margin-top: 20px;
		border-radius: 3px;
		padding: 5px;
		color: $blanc;
		height: 400px;
	}

	a{
		color: $orange;
	}
}

@media screen and (min-width: 300px) and (max-width: 600px) {

	.lieublock {
		//margin-top: 100px;
		font-family: $police;
		font-size: 2em;

		li{
		background:$gristransparent;
		//margin-left: 100px;
		display: $aligne;
		border-radius: 3px;

			

		}

		div{
		background:$gristransparent;
		//margin-left: 100px;
		display: $aligne;
		//width: 360px;
		width: auto;
		float : none;
		margin-right: 0px;
		//margin-top: 20px;
		border-radius: 3px;
		//padding: 5px;
		color: $blanc;
		//height: 400px;

			img {
				max-width: 100%;
				height: auto;
			}

			p {
				font-size: 0.7em;
			}

			a{
				color: $orange;
			}

		}

		
	}
}

/******Meetup******/

.containermeetup {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	display: $nonaligne;
	color: $blanc;
	width: 940px;
	font-family: $police;

	ul{
	display : $aligne;
	font-size : 20px;
	}
}

.section1 {
	margin-top: 100px;
	margin-left: 80px;

	li{
		background:$gristransparent;
		display:$aligne;
		border-radius: 3px;
	}

	p{
		width : 600px;
		float : right;
	}
}

.section2 ul {
	background:$gristransparent;
	border-radius: 3px;
	margin-top: 0;
	margin-right: 2px;
	width: 79%;
	margin-left: 100px;
}

.section3 {
	margin-left: 80px;

	li{
	background : $gristransparent;
	display : $aligne;
	border-radius : 3px;
	}

	p {
		width : 600px;
		float: right;
	}
}

.section4 ul {
	background:$gristransparent;
	border-radius: 3px;
	margin-top: 0;
	margin-right: 2px;
	width: 79%;
	margin-left: 100px;
}

.section5 {
	margin-left: 80px;

	li {
		background:$gristransparent;
		display: $aligne;
		border-radius: 3px;
	}
	
	p {
	width: 600px;
	float: right;
	}
}

.section6 {
	margin-bottom: 150px;
	background:$gristransparent;
	border-radius: 3px;
	margin-top: 0;
	margin-right: 2px;
	width: 79%;
	margin-left: 100px;
}